aiohttp
aiosignal
asttokens
async-timeout
attrs
azure-common
azure-core
azure-identity
azure-search-documents
backcall
certifi
cffi
charset-normalizer
click
comm
contourpy
cryptography
cycler
debugpy
decorator
executing
Flask
fonttools
frozenlist
idna
ipykernel
ipython
isodate
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
msal
msal-extensions
msrest
multidict
nest-asyncio
numpy
oauthlib
openai
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
plotly
portalocker
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
pyzmq
requests
requests-oauthlib
scikit-learn
scipy
six
stack-data
tenacity
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
yarl
